<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap-4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-4.0.0/css/angel.css">
    <script src="bootstrap-4.0.0/js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script>
        function validateForm() {
            var en = document.getElementById("english");
            var ru = document.getElementById("russian");

            if (en.value === "" || ru.value === "") {
                var al = document.getElementById("alert");
                al.style.display = "block";
                return false;
            }
        }
    </script>
    <title>Add new word</title>
</head>
<body>
<main>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">English</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="russian">Russian</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="add">Add new words</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dictionary">Dictionary</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {%- for message in messages %}
                <strong>Info!</strong> {{ message }}
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        <div class="alert alert-danger" style="display: none" id="alert">
            <strong>Ошибка!</strong> Для сохранения необходимо внести все данные.
        </div>
        {% if repeat %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ошибка!</strong> Данное слово уже есть в словаре.
        </div>
        {% endif %}
        <form method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label>English word:</label>
                <input type="text" name="english" id="english" class="form-control" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Russian word:</label>
                <input type="text" name="russian" id="russian" class="form-control" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</main>
</body>
</html>